.header-container {
  background-color: rgb(40, 226, 188);
  display: flex;
  justify-content: center;
  width: 100%;
}

.header {
  @extend %content-container;
  align-items: center;
  display: flex;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.8rem;
  justify-content: space-between;
}

.header__logo {
  align-items: center;
  display: flex;
  margin: 0.5rem;
}

.header__logo__image {
  background: url('/images/watermelon.png');
  background-size: cover;
  height: 1.8rem;
  width: 1.8rem;
}

.header__logout {
  font-size: 1.2rem;
  margin: 0.5rem;
}
