@import './logo';

.login-page-container {
  background: url('/images/smooth-green-background.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.login-page {
  align-items: center;
  background-color: fade-out(black, .50);
  display: flex;
  flex-direction: column;
  font-family: $secondary-font;
  font-size: 1.2rem;
  margin: auto;
  width: 20rem;

  > * {
    margin: 0.5rem 0;
  }

  &__logo {
    @include logo(3.6rem);

    background-color: $main-color;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__slogan {
    color: white;
    font-style: oblique;
  }

  &__button {
    $height: 3rem;
    $width: 4.15 * $height;

    background: url('/images/btn_google_signin_dark_normal.png');
    background-size: cover;
    border: none;
    height: $height;
    width: $width;

    &:hover {
      background: url('/images/btn_google_signin_dark_focus.png');
      background-size: cover;
      cursor: pointer;
    }

    &:focus {
      background: url('/images/btn_google_signin_dark_focus.png');
      background-size: cover;
    }

    &:active {
      background: url('/images/btn_google_signin_dark_pressed.png');
      background-size: cover;
    }
  }
}
