.song-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.song-list-item {
  align-items: center;
  background-color: black;
  border-bottom: 1px solid grey;
  display: flex;
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 100%;

  &__info {
    color: rgb(216, 216, 216);
    display: flex;
    flex: 18;

    &__title {
      flex: 1;
    }

    &__artists {
      flex: 1;
    }
  }

  &__edit-button {
    visibility: hidden;
  }

  &:hover {
    .song-list-item__edit-button {
      visibility: visible;
    }
  }

  &__edit-button {
    display: flex;
    flex: 2;
    justify-content: center;
    button {
      font-size: 1rem;
    }
  }
}
