.song-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.song-list-item {
  align-items: center;
  background-color: black;
  border-bottom: 1px solid grey;
  display: flex;
  font-size: 1.2rem;
  width: 100%;

  &__info {
    color: rgb(216, 216, 216);
    display: flex;
    flex: 18;
    overflow: hidden;
    padding: 0.5rem;

    &__title {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__artists {
      flex: 1;
      margin-left: 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &:hover {
    background: #094DB2;
  }

  &:active {
    background: #1364DB;
  }

  &__edit_button {
    visibility: hidden;
  }

  &:hover {
    .song-list-item__edit_button {
      visibility: visible;
    }
  }

  &__edit_button {
    color: #28E2BE;
    display: flex;
    flex: 2;
    font-family: $main-font;
    font-size: 1rem;
    justify-content: center;
    &:hover {
      color: #7EF0DA;
    }
    &:active {
      color: #FF6400;
    }
  }
}
