body {
  background-color: rgb(30, 30, 30);
}

.app {
  height: 100vh;
  width: 100vw;
}

::placeholder {
  color: rgb(216, 216, 216);
}

.song-dashboard {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__nav {
    background-color: $off-black;
    display: flex;
    font-size: 1.3rem;
    height: 4rem;
    justify-content: space-between;
    width: 100%;

    &__search {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      margin: 1rem;
      width: 70%;
      input {
        background-color: black;
        border: none;
        color: $off-white;
        height: 100%;
        padding-left: 0.5rem;
        width: 100%;
      }
    }

    &__button {
      display: flex;
      margin: 1rem;
      width: 30%;

      button {
        @extend .main-button;
        height: 100%;
        width: 100%;
      }
    }
  }
}
