.song-list {
  align-items: center;
  background-color: cyan;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.song-list-item {
  @extend .content-container;
  align-items: center;
  background-color: yellow;
  display: flex;
  font-size: 1.2rem;
}

.song-list-item__info {
  display: flex;
  flex: 18;
}

.song-list-item__info__title {
  background-color: grey;
  flex: 1;
}

.song-list-item__info__artists {
  background-color: lightgray;
  flex: 1;
}

.song-list-item__edit-button {
  button {
    font-size: 1rem;
  }
  background-color: grey;
  display: flex;
  flex: 2;
  justify-content: center;
}
