.player-container {
  background-color: cyan;
  bottom: 0;
  display: flex;
  height: 8%;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.player {
  align-items: center;
  background-color: green;
  display: flex;
  height: 60px;
  max-width: 60rem;
  width: 80%;
}

.player__play-pause {
  background-color: red;
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
}

.player__seekbar {
  background-color: blue;
  flex: 5;
  padding-left: 5px;
  padding-right: 25px;
}

.player__volume-control {
  background-color: purple;
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
}

.player__volume-control__slider {
  background-color: yellow;
  bottom: 50px;
  height: 250%;
  margin-bottom: 0px;
  padding-bottom: 15px;
  position: absolute;
  z-index: 1;
}

.player__song-info {
  background-color: white;
  flex: 3;
}
