.player-container {
  background-color: cyan;
  bottom: 0;
  display: flex;
  height: 8%;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.player {
  align-items: center;
  background-color: green;
  display: flex;
  height: 60px;
  max-width: 60rem;
  width: 80%;
}
