* {
  box-sizing: border-box;
}

body {
  background-color: rgb(30, 30, 30);
}

.app {
  height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.content-container {
  margin: 0 auto;
  max-width: 60rem;
  width: 80%;
}

.main-button {
  $default-border: 2px solid transparent;

  background-color: #00D9AF;
  border: $default-border;
  &:hover {
    border: 2px solid;
    border-color: #4FE9CA;
  }
  &:active {
    background-color: #00AD8B;
    border: $default-border;
  }
}

